DATABASE_URL=
BROWSERLESS_TOKEN=
SCRAPER_BROWSER_MODE=
PORT=
USERKANAME=
PASSWORD=
LOGIN_USER=
LOGIN_PASS=
NCL_USER=
NCL_PASS=
GOCCL_USER=
GOCCL_PASS=
CRUISINGPOWER_USER=
CRUISINGPOWER_PASS=
CCS_USER=
CCS_PASS=
CCS_B_USER=
CCS_B_PASS=
AZAMARA_USER=
AZAMARA_PASS=
GOHAL_USER=
GOHAL_PASS=
MSC_USER=
MSC_PASS=
FIRSTMATES_USER=
FIRSTMATES_PASS=
